body{
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
    color: tomato;
}
.main{
    margin-top: 1rem;
    margin-left: 20rem;
    width:55rem;
    height: 25rem;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 20px 20px 50px rgba(0, 0,0,0.5);
    border-radius: 15px;
    padding: 4rem;
    position: relative;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 1rem;
}
input[type="text"]{
    border-radius: 15px;
    height: 4rem;
    width: 90%;
    background-color: transparent;
    color: #fff;
    font-size: 3rem;
    border:none;
    


}
table{
    width: 100%;
    border:1px transparent;
    border-collapse: collapse;
}
#k{
    margin-right: 3rem;
    width: 5rem;
}
td{
    background-color: transparent;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.2);
    height: 5rem;

}
input[type="button"]{
    background-color: transparent;
    width: 8rem;
    border:none;
    color: white;
    font-size: 3rem;
}